---
import MainLayout from "../../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config.ts";
import AcademiaComponent from '../../components/AcademiaComponent.astro';
import { items } from '../Academia/academiaConfig.js';
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="py-6">
    <div class="text-4xl max-w-lg font-medium pt-16 pb-11">
      <h1 class="bg-gradient-to-r from-slate-100 to-slate-400 inline-block text-transparent bg-clip-text">
        This page contains all my academic works.
      </h1>
    </div>
  </div>

<div>
  {items.map((item) => (
    <AcademiaComponent {...item} />
  ))}
</div>
  
</MainLayout>