---
import "@fontsource-variable/rubik";
import "../styles/base.css";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  heroImage?: string;
}

const { title, description, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {title} {description} image={heroImage} />
    <ViewTransitions />
    <!-- Include MathJax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
    <script type="text/javascript">
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true
        },
        options: {
          ignoreHtmlClass: 'tex2jax_ignore',
          processHtmlClass: 'tex2jax_process'
        }
      };
    </script>
  </head>
  <body class="bg-[#161616] text-stone-200">
    <Header />
    <main class="max-w-5xl px-3 md:px-6 mx-auto">
      <slot />
    </main>
    <Footer />
    <script
  src="https://beamanalytics.b-cdn.net/beam.min.js"
  data-token="f10c4942-5d1b-4b24-b857-fca4375f9b59"
  async
>
</script>
    <!-- Trigger MathJax rendering after page load -->
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        if (window.MathJax) {
          window.MathJax.typeset();
        }
      });
    </script>
  </body>
</html>
